.navbar {
  background-color: black;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .active {
  font-weight: bolder;
  text-decoration: underline;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

a {
  color: #0077b5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

span {
  font-size: 16px;
  color: #555;
}

.project {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 25px;
}
.skills {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25pc;
  gap: 3px;
}
